* {
  font-family: "Zilla Slab", serif;
}

body {
  display: grid;
  grid-template-rows: 3rem 15rem auto 4rem;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../media/coding-bg.jpg");
}

.intro {
  display: inline-block;
  justify-content: center;
  color: white;
  width: 60%;
}

.be-inspired-nav,
.be-inspired-footer {
  background: rgb(189, 165, 210);
}

.be-inspired-content,
.subheading {
  color: white;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 5rem;
}

.be-inspired-names {
  padding-left: 5rem;
  color: rgb(255, 227, 239);
}

.dots {
  text-align: center;
  margin-bottom: 5rem;
}

.subheading {
  margin-top: 2rem;
}

.flex-item {
  padding: 1rem;
  background: rgb(189, 165, 210);
  text-align: center;
}

.title {
  padding: 1rem;
  margin: 0;
  color: white;
  font-size: 35px;
  margin-top: 1rem;
}

.site-description {
  color: white;
  font-size: 15px;
}

main.content {
  background-image: url("../media/coding-bg.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main.grid {
  margin-top: 2rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-template-rows: repeat(3, 1fr);
}

.hover-tint {
  height: 100%;
  width: 15rem;
  height: 15rem;
  position: relative;
}

.hover-tint:hover {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s linear;
  background: rgb(71, 60, 83);
}

.hover-tint a {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hover-tint a img {
  max-width: 50%;
  height: auto;
}

.homepage-main {
  display: flex;
}

.title img {
  height: 9%;
  width: 9%;
}

.content {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  padding-top: 1rem;
}

nav {
  background: rgb(71, 60, 83);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.btn:hover {
  border-color: rgb(245, 237, 6);
}

/* Community Page */

.resource-page-content {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 15px;
  padding-top: 1rem;
  background: white;
}

.community-description {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  padding-bottom: 1rem;
}

ul {
  background: white;
  padding-left: 10rem;
}

.laugh {
  color: white;
  padding: 1rem;
  height: 15rem;
  background: rgb(250, 239, 113);
}

.meetups {
  color: white;
  padding: 1rem;
  height: 15rem;
  background: rgb(254, 178, 190);
}

.be-inspired {
  color: white;
  padding: 1rem;
  height: 15rem;
  background: rgb(151, 151, 255);
}

.learn {
  color: white;
  padding: 1rem;
  height: 15rem;
  background: rgb(126, 233, 169);
}

.work {
  color: white;
  padding: 1rem;
  height: 15rem;
  background: rgb(249, 187, 95);
}

.blog-preview {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background: rgb(141, 119, 162);
  color: white;
  height: 15rem;
  width: 15rem;
}

a.blog-preview {
  text-decoration: none;
}

a.blog-preview:hover {
  text-decoration: underline;
  background: rgb(71, 60, 83);
}

.be-inspired-main {
  background: rgb(71, 60, 83);
}

.be-inspired-flex-item {
  background: rgb(71, 60, 83);
  text-align: center;
  padding-top: 2rem;
}

/*Slideshow */
* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 30rem;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: white;
  background-color: rgba(0, 0, 0, 0.523);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#koala-404 {
  width: 100%;
  height: 100%;
}

/* Footer */

footer {
  padding: 0.8rem;
  background: rgb(71, 60, 83);
  color: white;
  text-align: center;
}

/* Media Queries */

@media (min-width: 320px) {
  main {
    grid-template-columns: repeat(1, 0fr);
  }
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 0fr);
  }
}

@media (min-width: 901px) {
  main {
    grid-template-columns: repeat(3, 0fr);
  }
}
